
<section id="billboard" class="overflow-hidden">
    <div class="button-container d-flex justify-content-between align-items-center">
      <button class="button-prev">
        <i class="icon icon-chevron-left"></i>
      </button>
      <button class="button-next">
        <i class="icon icon-chevron-right"></i>
      </button>
    </div>
    <div class="swiper main-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide" style="background-image: url('assets/images/TUS08023.JPG');background-repeat: no-repeat;background-size: cover;">
          <div class="banner-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <h2 class="banner-title" style="color: red;">Summer Collection</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
                    <div class="btn-wrap">
                      <a href="#" class="btn btn-light btn-medium d-flex align-items-center" tabindex="0">Shop it now <i class="icon icon-arrow-io"></i>
                      </a>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-slide" style="background-image: url('https://scontent.fsgn5-14.fna.fbcdn.net/v/t39.30808-6/304475709_1888671888145060_2587365284779499121_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=730e14&_nc_ohc=MkcsB58f3F4AX8ZgnoN&_nc_oc=AQkoEL5M5P86fb6jNUUpLEKTmfUyWU6cBDCJy6jRYqoFTKPXtKx3PYabgcXiQUZBq7k&_nc_ht=scontent.fsgn5-14.fna&oh=00_AfBSQT3Tx-gE_ln2hBlUIHQsPv1Ro1_1npNO1zT9NGYQFw&oe=64338BF9');background-repeat: no-repeat;background-size: cover;">
          <div class="banner-content">
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h2 class="banner-title">Winter Collection</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac.</p>
                  <div class="btn-wrap">
                    <a href="#" class="btn btn-light btn-light-arrow btn-medium d-flex align-items-center" tabindex="0">Shop it now <i class="icon icon-arrow-io"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <app-popup-image></app-popup-image>
</section>