<div class="pagination" *ngIf="totalItem  > (len)">
    <a (click)="clickSubPage(1)"  style="cursor: pointer;">&laquo;</a>
    <ng-container *ngFor="let item of listTempPage ; let i index">
        <a  (click)="clickSubPage(item)" [ngClass]="pageActive == item ? 'active':''" style="cursor: pointer;">{{item}}</a>
    </ng-container>
    <a (click)="clickSubPage(lengthPage)"  style="cursor: pointer;">&raquo;</a>
</div>


