 <div class="container">
    <div class="shopping-cart">
      <div class="shopping-cart-header">  
        <div class="shopping-cart-total">
          <span class="lighter-text">Total:</span>
          <span class="main-color-text">{{totalPrice | setComma}} {{' đồng'}}</span>
        </div>
        
        <a  style="float: right; cursor:pointer" (click)="removeAllCart()" > <i class="fa fa-trash" aria-hidden="true"></i></a>
        <a  class="cart" style="cursor:pointer" (click)="onClickClose()"> <i class="fa fa-times-circle-o" aria-hidden="true"></i></a> 
      </div> 
      
    
      <ul class="shopping-cart-items">
        <ng-container  *ngFor="let item of cartItems">
          <li class="clearfix" >
            <a  style="float: right; cursor:pointer"  (click)="removeItem(item.productId)">x</a>
            <img [src]="urlApi+item.imageCart"  alt="item1"  style="width: 50px; height: 50px;" (click)="clickLinkProduct(toString(item.productId))"/>
            <span class="item-name">{{item.qty}} / {{item.productName}}</span>
            <span class="item-price">{{item.productPrice|setComma}}{{' đồng'}}</span>
          </li>
        </ng-container>
      </ul>
  
      <a (click)="checkout()" style="cursor: pointer;" class="button cart">Checkout</a>
    </div> <!--end shopping-cart -->
  </div> <!--end container -->