<section id="featured-products" class="product-store padding-large">
  <div class="container">
    <div class="row">
      <div class="btn-wrap align-right">
        <a href="#" class="d-flex align-items-center">View all products <i class="icon icon icon-arrow-io"></i>
        </a>
      </div>
      <div class="section-header">
        <h2 class="section-title">Featured Products</h2>
      </div>
      <div class="swiper product-swiper overflow-hidden">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="product-item">
              <div class="image-holder">
                <img src="./assets/images/product-item1.jpg" alt="Books" class="product-image">
              </div>
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="#">Full sleeve cover shirt</a>
                </h3>
                <span class="item-price text-primary">$40.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item">
              <div class="image-holder">
                <img src="./assets/images/product-item2.jpg" alt="Books" class="product-image">
              </div>
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="#">Volunteer Half blue</a>
                </h3>
                <span class="item-price text-primary">$38.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item">
              <div class="image-holder">
                <img src="./assets/images/product-item3.jpg" alt="Books" class="product-image">
              </div>
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="#">Double yellow shirt</a>
                </h3>
                <span class="item-price text-primary">$44.00</span>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="product-item">
              <div class="image-holder">
                <img src="./assets/images/product-item4.jpg" alt="Books" class="product-image">
              </div>
              <div class="cart-concern">
                <div class="cart-button d-flex justify-content-between align-items-center">
                  <button type="button" class="btn-wrap cart-link d-flex align-items-center">add to cart <i class="icon icon-arrow-io"></i>
                  </button>
                  <button type="button" class="view-btn tooltip
                      d-flex">
                    <i class="icon icon-screen-full"></i>
                    <span class="tooltip-text">Quick view</span>
                  </button>
                  <button type="button" class="wishlist-btn">
                    <i class="icon icon-heart"></i>
                  </button>
                </div>
              </div>
              <div class="product-detail">
                <h3 class="product-title">
                  <a href="#">Long belly grey pant</a>
                </h3>
                <span class="item-price text-primary">$33.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
      
    </div>
  </div>
</section>