<!-- <img id="myImg" src="https://res.cloudinary.com/dzpv5gmyw/image/upload/v1468502667/demo/img8.jpg" alt="Car">
<span class="hint">Click on image and see effect</span> -->
<div id="myModal" class="modal">
  <span class="close">X</span>
  <img class="modal-content" id="img01" src="https://fff.com.vn/wp-content/uploads/2020/02/tao-popup5.png">
  <div id="caption"></div>
</div>