html, body{height: 100%; width: 100%; position:relative; left:0; top:0;}
body { margin:0; padding:0; background:#20B2AA; font-family: arial; position: relative;  }
.hint{ text-align: center; color:#fff; font-size: 25px; display: block; padding:20px 10px 10px;  }
#myImg{cursor:pointer; border:10px solid #fff; box-shadow:0 0 10px rgba(0,0,0,0.3); position: fixed; left:50%; top:50%; width:300px; margin:-100px 0 0 -150px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; -ms-box-sizing:border-box;}
#myImg,.close{transition:.3s; -webkit-transition:.3s; -moz-transition:.3s; -o-transition:.3s;}
#myImg:hover{opacity:.7}
.modal{display:none;position:fixed;z-index:1;padding-top:100px;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,0.7);}
#caption,.modal-content{margin:auto;display:block;width:60%; max-width:1200px;}
#caption{text-align:center;color:#ccc;padding:10px 0;height:150px}
#caption,.modal-content{-webkit-animation-name:zoom;-webkit-animation-duration:.6s;animation-name:zoom;animation-duration:.6s}
@-webkit-keyframes zoom{
	from{-webkit-transform:scale(0)}
	to{-webkit-transform:scale(1)}
}
@-moz-keyframes zoom{
	from{-moz-transform:scale(0)}
	to{-moz-transform:scale(1)}
}
@-o-keyframes zoom{
	from{-o-transform:scale(0)}
	to{-o-transform:scale(1)}
}
@-ms-keyframes zoom{
	from{-ms-transform:scale(0)}
	to{-ms-transform:scale(1)}
}
@keyframes zoom{
	from{transform:scale(0)}
	to{transform:scale(1)}
}
.close{position:absolute;top:15px;right:35px;color:#f1f1f1;font-size:40px;font-weight:300}
.close:focus,.close:hover{color:#bbb;text-decoration:none;cursor:pointer}
@media only screen and (max-width:700px){
	.modal-content{width:100%}
}