<div class="row" [formGroup]="checkoutForm" >
    <div class="col-75">
      <div class="container">
           <!-- shipping -->
           <app-shipping formGroupName="shipping"></app-shipping>
          <label>
            <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
          </label>
          <input type="submit" value="Continue to checkout" class="btn">
      </div>
    </div>
  
    <div class="col-25">
      <div class="container">
        <h4>Cart
          <span class="price" style="color:black">
            <i class="fa fa-shopping-cart"></i>
            <b>{{cartItems.length}}</b>
          </span>
        </h4>
        <ng-container *ngFor="let item of cartItems">
            <p><a href="#">{{item.productName}}</a> <span class="qty">{{" "}} x{{item.qty}}</span> <span class="price">{{item.productPrice | setComma}}</span></p>
        </ng-container>
        <hr>
        <p>Total <span class="price" style="color:black"><b>{{totalPrice | setComma}}</b></span></p>
      </div>
    </div>
  </div>