<section id="selling-products" class="product-store bg-light-grey padding-large">
    <div class="container">
      <div class="row">
        <ul class="tabs list-unstyled">
          <li  class="tab" [ngClass]="active==''?'active':''" (click)="getProduct('', '')">All</li>
          <ng-container *ngFor="let item of catelogy">
            <li class="tab"  [ngClass]="active==toString(item.cateName)?'active':''" (click)="getProduct('',  toString(item.cateName))" >{{item.cateName}}</li>
          </ng-container>
        </ul>
        <div class="tab-content">
          <div id="all"  class="active">
            <div class="row d-flex flex-wrap">
             <ng-container *ngFor="let item of data">
              <div class="product-item col-lg-3 col-md-6 col-sm-6">
                <div class="image-holder">
                <a    [routerLink]="['/detail-product/'] +toString(item._id)"  >
                  <img  [src]="item.image" alt="Books" class="product-image">
                </a>  
                </div>
                <div class="product-detail">
                  <h3 class="product-title">
                    <a href="#">{{item.name}}</a>
                  </h3>
                  <div class="item-price text-primary">{{item.price | setComma}} {{"đồng"}}</div>
                </div>
                <div class="cart-concern">
                  <div class="cart-button d-flex justify-content-between align-items-center">
                    <button type="button" class="btn-wrap cart-link d-flex align-items-center" (click)="addToCart(item)">add to cart <i class="icon icon-arrow-io"></i>
                    </button>
                    <button type="button" class="view-btn tooltip
                        d-flex">
                      <i class="icon icon-screen-full"></i>
                      <span class="tooltip-text">Quick view</span>
                    </button>
                    <button type="button" class="wishlist-btn">
                      <i class="icon icon-heart"></i>
                    </button>
                  </div>
                </div>
              </div>
             </ng-container>
            </div>
          </div>
          
        </div>
      </div>
      <app-paging [totalItem]="totalProduct" [len]="len" (handelClickPage)="clickPage($event)" ></app-paging>
    </div>
  </section>