<router-outlet></router-outlet>



<!-- <div id="footer-bottom">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-between">
      <div class="payment-method">
        <p>Payment options :</p>
        <div class="card-wrap">
          <img src="assets/images/visa-icon.jpg" alt="visa">
          <img src="assets/images/mastercard.png" alt="mastercard">
          <img src="assets/images/american-express.jpg" alt="american-express">
        </div>
      </div>
    </div>
  </div>
</div> -->


