<section id="brand-collection" class="padding-medium bg-light-grey">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <img src="./assets/images/brand1.png" alt="phone" class="brand-image">
        <img src="./assets/images/brand2.png" alt="phone" class="brand-image">
        <img src="./assets/images/brand3.png" alt="phone" class="brand-image">
        <img src="./assets/images/brand4.png" alt="phone" class="brand-image">
        <img src="./assets/images/brand5.png" alt="phone" class="brand-image">
      </div>
    </div>
  </section>