<div class="container-12">
    <h1>Add Product</h1>
    <form action="add_product.php" method="post">
      <div class="form-group pd-20">
        <label for="name">Product Name</label>
        <input type="text" class="form-control" id="name" name="name">
      </div>
      <div class="form-group pd-20">
        <label for="price">Product Price</label>
        <input type="number" class="form-control" id="price" name="price">
      </div>
      <div class="form-group pd-20">
        <label for="quantity">Product Quantity</label>
        <input type="number" class="form-control" id="quantity" name="quantity">
      </div>
      <div class="form-group pd-20">
        <label for="description">Product Description</label>
        <textarea class="form-control" id="description" name="description"></textarea>
      </div>
      <div class="form-group pd-20">
        <label for="description">Choose Image</label>
        <input type="file" class="input-file" />
      </div>
      <div class="form-group pd-20">
        <input type="submit" class="btn btn-primary" value="Add Product">
      </div>
    </form>
  </div>