.container-12 {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-control {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .btn-primary {
    background-color: #0000FF;
    color: white;
    font-weight: bold;
    border: 1px solid #0000FF;
    cursor: pointer;
  }
  .pd-20{
    padding: 20px;
  }
  .input-file {
    display: inline-block;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    outline: none;
    cursor: pointer;
  }
  
  .input-file > input {
    display: none;
  }
  
  .input-file > label {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }