<div class="search-box">
    <div class="search-wrap">
      <div class="close-button">
        <i class="icon icon-close"></i>
      </div>
      <form id="search-form" class="text-center" action="" method="">
        <input type="text" class="search-input" placeholder="Search..." />
        <i class="icon icon-search"></i>
      </form>
    </div>
  </div>
  <header id="header">
    <div id="header-wrap">
      <nav class="secondary-nav border-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12">
              <div class="header-contact">
                <p>Let's talk! <strong>+05802163211</strong>
                </p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="shipping-purchase text-center">
                <p>Free shipping on a purchase value of $200</p>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="user-items">
                <ul class="d-flex justify-content-end list-unstyled">
                  <li>
                    <a routerLink="/admin/account">
                      <i class="icon icon-user"></i>
                    </a>
                  </li>
                  <li>
                    <a href="cart.html">
                      <i class="icon icon-clipboard"></i>
                    </a>
                  </li>
                  <li>
                    <a href="#like">
                      <i class="icon icon-heart"></i>
                    </a>
                  </li>
                  <li class="user-items">
                    <i class="icon icon-search"></i>
                  </li>
                  <!-- <li class="cart"  id  = "cart" (click)="showC()"><i class="fa fa-shopping-cart"></i></li> -->
                  <li *ngIf="!isLogined">
                    <a routerLink="/login">
                      <i class="fa fa-sign-in" aria-hidden="true"></i>
                    </a>
                  </li>
                  <li *ngIf="isLogined">
                    <a (click)="logOut()" style="cursor: pointer;">
                      <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <nav class="primary-nav padding-small">
        <div class="container">
          <div class="row d-flex">
            <div class="col-lg-2 col-md-2">
              <div class="main-logo">
                <a routerLink="/">
                  <img src="assets/images/main-logo.png" alt="logo">
                </a>
              </div>
            </div>
            <div class="col-lg-10 col-md-10">
              <div class="navbar">
                <div class="main-menu stellarnav">
                  <ul class="menu-list list-unstyled">
                    <li class="menu-item">
                      <a routerLink = "/about"  data-effect="About">About</a>
                    </li>
                    <li class="menu-item">
                      <a routerLink = "/feature-product" data-effect="About">Feature-Product</a>
                    </li>
                    <li class="menu-item">
                      <a routerLink = "/sell-product" class="item-anchor" data-effect="Sell-Product">Sell-Product</a>
                    </li>
                    <li class="menu-item">
                      <a routerLink="brand" class="item-anchor" data-effect="Brand">Brand</a>
                    </li>
                    <li class="menu-item">
                      <a routerLink="fash-sale" class="item-anchor" data-effect="Sale">Sale</a>
                    </li>
                    <li class="menu-item">
                      <a [routerLink]="'/admin'" class="item-anchor" data-effect="Blog">Admin</a>
                    </li>
                  </ul>
                  <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- <app-cart [close]="close" [changeCart]="changeCart" (onCloseCart) = "handelCloseCart($event)" ></app-cart> -->
  <!-- <div  [ngStyle]="{'display':show}"> -->
    <router-outlet></router-outlet>
  <!-- </div> -->

   <div id="footer-bottom">
  <div class="container">
    <div class="row d-flex flex-wrap justify-content-between">
      <div class="payment-method">
        <p>Payment options :</p>
        <div class="card-wrap">
          <img src="assets/images/visa-icon.jpg" alt="visa">
          <img src="assets/images/mastercard.png" alt="mastercard">
          <img src="assets/images/american-express.jpg" alt="american-express">
        </div>
      </div>
    </div>
  </div>
</div> 