<section id="flash-sales" class="product-store padding-large">
      
    <div class="container">
      <div class="section-header">
        <h2 class="section-title">Flash sales</h2>
      </div>
      <div class="row">
        <div class="swiper product-swiper flash-sales overflow-hidden">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="product-item">
                <img src="./assets/images/selling-products9.jpg" alt="Books" class="product-image">
                <div class="discount">10% Off</div>
                <div class="product-detail">
                  <h3 class="product-title">
                    <a href="#">Full sleeve cover shirt</a>
                  </h3>
                  <div class="item-price text-primary">
                    <del class="prev-price">$50.00</del>$40.00
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item">
                <img src="./assets/images/selling-products10.jpg" alt="Books" class="product-image">
                <div class="discount">10% Off</div>
                <div class="product-detail">
                  <h3 class="product-title">
                    <a href="#">Long Sleeve T-shirt</a>
                  </h3>
                  <div class="item-price text-primary">
                    <del class="prev-price">$50.00</del>$40.00
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item">
                <img src="./assets/images/selling-products11.jpg" alt="Books" class="product-image">
                <div class="discount">10% Off</div>
                <div class="product-detail">
                  <h3 class="product-title">
                    <a href="#">Grey Check Coat</a>
                  </h3>
                  <div class="item-price text-primary">
                    <del class="prev-price">$55.00</del>$45.00
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item">
                <img src="./assets/images/selling-products12.jpg" alt="Books" class="product-image">
                <div class="discount">10% Off</div>
                <div class="product-detail">
                  <h3 class="product-title">
                    <a href="#">Silk White Shirt</a>
                  </h3>
                  <div class="item-price text-primary">
                    <del class="prev-price">$45.00</del>$35.00
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="product-item">
                <img src="./assets/images/selling-products8.jpg" alt="Books" class="product-image">
                <div class="discount">10% Off</div>
                <div class="product-detail">
                  <h3 class="product-title">
                    <a href="#">Blue Jeans pant</a>
                  </h3>
                  <div class="item-price text-primary">
                    <del class="prev-price">$45.00</del>$35.00
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="swiper-pagination"></div>

        </div>
      </div>
    </div>
  </section>